img{
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

i{
  height: 50px;
  width: 50px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.header{
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.body1{
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.body2{
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

.body3{
  background: white;
  padding: 30px;
  border: 1px solid lightgrey;
}

@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}
